/*input[type=text] {
  width: 100px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
*/
/*
background: linear-gradient(
      rgba(29, 140, 81, 0.5), 
      rgba(29, 140, 81, 0.5)), url("https://images.pexels.com/photos/1108572/pexels-photo-1108572.jpeg?cs=srgb&dl=bright-bulb-close-up-1108572.jpg&fm=jpg") no-repeat center center fixed;
	background-size: 120%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: #457e62;*/

body{
 background: url(image/city.jpeg) cover no-repeat;
 background-color: #d3dcdf;
 font-family: 'Lora', serif;

}

/*
#mainpage-title {
	display: absolute;
	text-align: center;
	padding-top: 75px;
	padding-right: 150px;
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	color: white;
}*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px;
  overflow: hidden;
  /*background: #a8b9c2;*/
  background: #808080;
  background-color: rgba(255,255,255,0.24);
  opacity: 92%;
}
nav li {
  float: left;
  text-align: center; 
}

nav li a  {
  display: block;
  position: relative;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 4px 86px;
  text-decoration: none;

}

nav li a:hover {
  color: black;
}



/*.homebutton .home-btn{
	display: flex;
	text-decoration: none;
	font-family: 'Lora', serif;
	font-size: 15px;
	color: black;
	padding: 5px 20px;

}*/

nav .home-btn {
	display: flex;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	padding: 5px 20px;
	font-family: 'Lora', serif;
	
}


nav #click1 {
	display: flex;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	padding-left: 15px;
	padding: 5px 20px;
	font-family: 'Lora', serif;
}

nav li a:hover {
  color: black;
}


nav a.home-btn2 {
	display: flex;
	text-decoration: none;
	font-size: 25px;
	color: #41545e;
	padding: 5px 20px;
	font-family: 'Lora', serif;
	
}

/* displays the users input correctly */
.delete {
	display: flex;
	text-align: center;	
}

#searchForm {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}

#userInput {
	float: left;
	width: 80%;
	border: 3px solid #FFF;
	background: white;
	padding: 10px;
	height: 18px;
	border-radius: 5px;
	font-size: 15px;

}

.btn-click {
	position: absolute;
	right: 127px;
	width: 100px;
	height: 44px;
	border: 4px solid #fff;
	background-color: #70ACCA;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	color: white;
}

.list-container {
	display: block;
 	text-align: center;
 	width: 300px;
 	height: 300px;
  	border: 25px ;
  	padding: 25px;
  	margin: 25px;
	margin-left: auto;
	margin-right: auto;
}

/*.list-container .show {
	display: block;
 	text-align: center;
 	width: 300px;
 	height: 300px;
  	border: 25px solid green;
  	padding: 25px;
  	margin: 25px;
	margin-left: auto;
	margin-right: auto;
}*/


/* button positioning to be placed at the bottom */

.btn-style .delete-btn {
  left: 51%;
  bottom: 10px;
  position: absolute;
  	font-size: 14px;
	line-height: 120%;
	color: white;
	background-color: #41545e;
	border: 2px solid #FFF;
	padding: 10px 12px;
	border-radius: 4px;
	cursor: pointer;

}



.btn-style .add-btn {
  left: 40%;
  bottom: 10px;
  position: absolute;
  	font-size: 14px;
	line-height: 120%;
	color: white;
	background-color: #41545e;
	border: 2px solid #FFF;
	padding: 10px 12px;
	border-radius: 4px;
	cursor: pointer;

}

/*.btn-style .add-btn .delete-btn {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.3);
}*/
/*.btn-style {
	font-size: 14px;
	line-height: 120%;
	color: #FFF;
	background-color: transparent;
	border: 2px solid #FFF;
	padding: 10px 12px;
}*/


/*#b-list {
  display: absolute;
  flex-direction: column;
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  text-align: center;
}*/


#bucketList.active {
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}


.gallery {
	/*visibility: hidden;*/
	display: none;
	margin: 10px 50px;
	text-align: center;

}

.gallery-title {
	display: flex;
	justify-content: center;
	font-family: 'Lora', serif;
	font-size: 50px;
	color: #fff;
}



.gallery.active {
	/*visibility: visible;*/
	/*display: block;*/
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 10px 50px;
	position: relative;
  bottom: 100px
  top: 100px;

	
}

.gallery img {
	transition: 1s;
	padding: 15px;
	width: 200px;
}

.gallery img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

.gallery-two {
	display: none;
}

/* Greece Picture Gallery*/
.gallery-two.active2 {
	/*visibility: visible;*/
	/*display: block;*/
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 10px 50px;
	position: relative;
    bottom: 100px
    top: 100px;

	
}
.gallery-two img {
	transition: 1s;
	padding: 15px;
	width: 200px;
}

.gallery-two img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

/* Thailand Page Designs*/
.thaititle {
	display: flex;
	justify-content: center;
	font-family: 'Dancing Script', cursive;
	font-size: 100px;
	color: #fff;
}

.all-thai {
  /*text-align: center;*/
  float: right;
  width: 1000px;
  border: 25px #b7c5cd;
  padding: 25px;
  margin: 25px;
  background-color:#b7c5cd;
  border-radius: 5px;
}

.all-thai p {
	font-size: 20px;
}


.greecetitle {
	display: flex;
	justify-content: center;
	font-family: 'Dancing Script', cursive;
	font-size: 100px;
	color: #fff;
}



.info-border {
  float: right;
  width: 1000px;
  border: 25px #b7c5cd;

  padding: 25px;
  margin: 25px;
  background-color:#b7c5cd;
  border-radius: 5px;
}

.all-greece p {
	font-size: 20px;
}


.container-second img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  border-radius: 5px;
}